<div class="nav">
  <a href="{{ site.baseurl }}/">
    <img class="nav-logo" src="{{ site.baseurl }}/images/favicon.png" alt="{{ site.name }}" loading="lazy" />
  </a>

  <div class="nav-links">
    {% for nav in site.data.nav %}
      {% if nav.url contains 'http://' or nav.url contains 'https://' %}
        <a class="nav-link" href="{{ nav.url }}" target="_blank">{{ nav.name }}</a>
      {% else %}
        <a class="nav-link" href="{{ site.baseurl }}{{ nav.url }}">{{ nav.name }}</a>
      {% endif %}
    {% endfor %}
  </div>
</div>
